a, button {
    user-select: none;
}

a.btn-primary, button.btn-primary {
    background-color: var(--green);
    color: var(--white);

    max-width: fit-content;
    white-space: nowrap;
    padding: 18px 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a.btn-primary:hover, button.btn-primary:hover {
    background-color: var(--green-two);
    color: var(--white);
}

#sidebar .btn-primary {
    position: absolute;
    right: 22%;

    display: flex;
}

#hero .btn-primary {
    margin-bottom: 48px;
}

#favourites .btn-primary {
    margin: 50px 0 75px 0;
}

#hero .add-to-cart-btn, #about-page form .btn-primary {
    max-width: none;
    width: 100%;
    border: none;
    cursor: pointer;
}

#reasons .second-btn {
    display: none;
}