@media (max-width: 1092px) {
    #reasons .row-container {
        display: flex;
        flex-direction: column;
    }
    #reasons .reason-list {
        max-width: 100%;
        width: 100%;
        padding-bottom: 75px;
    }
    #reasons .reason-image img {
        aspect-ratio: 2 / 1;
        max-width: 100%;
        margin-bottom: 75px;
    }
    #reasons .first-btn {
        display: none;
    }
    #reasons .second-btn {
        display: block;
    }
    footer .row-container {
        flex-direction: column;
    }
    footer .footer-intro {
        padding: 50px 0;
    }
    .footer-links {
        padding-bottom: 20px;
        gap: 96px;
    }
    .footer-intro .footer-icons {
        display: none;
    }
    .footer-icons.last {
        display: flex;
        padding-bottom: 50px;
    }
}

@media (max-width: 1024px) {
    #favourites .row-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .fav-item:last-child {
        grid-column: 1 / -1;
        justify-self: center;
        width: calc(50% - 12px);
        max-width: none;
        margin: 0 auto;
    }
    #favourites .btn-primary {
        margin: 75px auto;
    }
    #articles .row-container {
        flex-direction: column;
        width: 100%;
        gap: 48px;
    }
    section#articles .article-item {
        max-width: 100%;
        width: 100%;
    }
    #articles .article-item img {
        width: 100%;
        max-width: 100%;
    }
    #reviews .row-container {
        flex-direction: column;
    }
    #reviews .review-card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 910px) {
    .nav-links a {
        display: none;
    }
    .openbtn {
        display: block;
    }
}

@media (min-width: 769px) {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    #favourites .row-container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }
    .fav-item {
        max-width: none;
        width: 100%;
    }
    .fav-item:last-child {
        width: 100%;
    }
}

@media (max-width: 592px) {
    #celebration {
        padding-bottom: 75px;
    }
    #celebration .row-container {
        flex-direction: column;
    }
    #celebration .btn-primary {
        width: 100%;
        max-width: none;
        text-align: center;
    }
    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
    }
    .footer-links .footer-col:last-child {
        grid-column: 1 / -1;
        margin: 0 auto;
        justify-self: center;
    }
    .link-short {
        display: block;
    }
    .link-long {
        display: none;
    }
}