* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

::selection {
    background-color: var(--green-two);
    color: var(--white);
}

:root {
    --green: #64805A;
    --green-two: #576e4f;
    --header: #2d2d2d;
    --text: #333333BF;
    --white: #fafafa;
    --grey: #e5e5e585;

    --fs-h1: clamp(2.7rem, 6vw, 4rem);
    --fs-h2: clamp(2.4rem, 5vw, 2.6rem);
    --fs-h3: clamp(1.3rem, 3vw, 1.4rem);
    --fs-h4: clamp(1.1rem, 3vw, 1.2rem);
    --fs-p: clamp(1rem, 3vw, 1.1rem);
}

section:nth-child(odd) {
    background-color: var(--white);
}

section:nth-child(even) {
    background-color: var(--grey);
}

h1 {
    font-size: var(--fs-h1);
    font-weight: bold;
    color: var(--header);
    letter-spacing: -2%;
    max-width: clamp(50%, 60vw, 60%);
    margin: 0;
}

h2 {
    font-size: var(--fs-h2);
    font-weight: 600;
    color: var(--header);
    letter-spacing: -2%;
    margin: 0;
    padding: 75px 0;
}

h3 {
    font-size: var(--fs-h3);
    font-weight: 500;
    color: var(--header);
    margin: 0;
}

h4 {
    font-size: var(--fs-h4);
    color: var(--green);
}

p {
    font-size: var(--fs-p);
    color: var(--text);
    letter-spacing: 0%;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

img {
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 93%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.row-container {
    display: flex;
    max-width: 93%;
    width: 93%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.container .row-container {
    max-width: none;
    width: 100%;
}

.container .row-container .container {
    max-width: none;
    width: 100%;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100vh;
    padding: 20vh 0 48px 0;
}

#hero .container {
    gap: 24px;
    width: 100%;
}

#hero p {
    max-width: clamp(40%, 60vw, 60%);
}

#hero img {
    max-width: 93vw;
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

#article #hero img {
    object-position: center 75%;
}

#article #main-caption {
    margin-bottom: 50px;
}

#article img[src="assets/ref-three.webp"] {
    object-position: center 65%;
}

#final-text {
    padding-bottom: 50px;
}

#favourites .row-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 48px;
    width: 100%;
}

.fav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    transition: transform 0.3s ease;
    min-width: 0;
    max-width: 480px;
    gap: 12px;
}

.fav-item:hover {
    transform: translateY(-10px);
}

.fav-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

#reasons {
    min-height: 100vh;
    padding-bottom: 75px;
}

#reasons .row-container {
    align-items: flex-start;
    position: relative;
}

#reasons .reason-list {
    max-width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 48px;
}

#reasons .reason-image img {
  max-width: 550px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

#articles {
    padding-bottom: 75px;
}

#articles .row-container {
    gap: 48px;
    align-items: flex-start;
}

.article-item {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 725px;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.article-item:hover {
    transform: translateY(-10px);
}

#articles .article-item img {
    max-width: 725px;
    aspect-ratio: 20 / 11;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.article-item:last-child img {
    object-position: center 75%;
}

#reviews {
    padding-bottom: 75px;
}

#reviews .row-container {
    gap: 48px;
    align-items: stretch;
}

#reviews .review-card {
    max-width: 480px;
    max-height: 431px;
    transition: transform 0.3s ease;

    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.review-card:hover {
    transform: translateY(-10px);
}

.review-card .author p {
    font-weight: 600;
}

.review-card .author span {
    font-size: var(--fs-p);
    font-style: italic;
    color: var(--text);
}

#celebration {
    background-color: var(--header);
}

#celebration h2 {
    color: var(--white);
    font-weight: 700;
}

#article section {
    background-color: var(--white);
}

.article-body .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#article .article-body p {
    max-width: 70%;
    margin: 0 auto;
}

.final-text {
    padding: 0 0 50px 0;
}

.article-body .row-container {
    padding: 50px 0;
}

.article-body img {
    max-width: 49%;
    border-radius: 8px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

section#related {
    background-color: var(--grey);
    padding-bottom: 75px;
}

.related-item {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.related-item:hover {
    transform: translateY(-10px);
}

#related img {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
}

.related-item h3 {
    max-width: 80%;
}

#related .related-item:nth-child(2) img {
    object-position: center 65%;
}

#related .related-item:nth-child(3) img {
    object-position: center 60%;
}

footer {
    height: 354px;
    padding: 25px 0;
}

footer .row-container {
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
    height: 100%;
    max-width: 80%;
}

.footer-intro {
    height: 60%;
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-size: var(--fs-h4);
    font-weight: 400;
    margin-bottom: auto;
    padding: 0;
    text-transform: uppercase;
}

.footer-icons {
    display: flex;
    gap: 12px;
}

footer i {
    font-size: var(--fs-h3);
    color: var(--text);
    transition: color 0.3s ease;
}

footer i:hover {
    color: var(--green);
}

.footer-links {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    padding-top: 25px;
}

.footer-col p {
    color: var(--header);
    font-weight: 500;
}

.footer-links ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links a {
    font-size: var(--fs-p);
    color: var(--text);
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--header);
}